<!-- Launching tractobots model for visualization -->
<launch>

  <!-- Parsing xacro and setting robot_description parameter -->
  <param name="robot_description"  command="$(find xacro)/xacro.py '$(find tractobots_description)/urdf/tractobots_library.urdf.xacro'"/>

  <!-- Setting publish frequency parameter for adjusting publish frequency-->
  <param name="publish_frequency" type="double" value="5.0" />

  <!-- Starting Joint state publisher which publish the joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>

  <!-- Starting robot state publisher which publish tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

  <!-- Launch visualization in rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tractobots_description)/rviz/tractobots_view_robot.rviz"/>

</launch>

